<launch> 
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find exoskeleton)/config/control.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/exoskeleton" args="joint_state_controller
                      LU_position_controller
                      RU_position_controller
                      LD_position_controller
                      RD_position_controller"/>
                      <!--LF_position_controller-->
                      <!--RF_position_controller"/>-->
  <!-- convert joint states to TF transforms for rviz, etc -->
  <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"-->
    <!--respawn="false" output="screen">-->
    <!--<remap from="/joint_states" to="/exoskeleton/joint_states" />-->
  <!--</node>-->
</launch>
